// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";
@import "~flag-icon-css/sass/flag-icon";

@import "modules/bootswatch";
@import "modules/footer";
@import "modules/cards";

// VENDOR
// @import "modules/tailwind";

// Other
.content {
  background-color: #f5f8fa;
}

.social-mail {
  color: lighten(#000000, 25%);

  &:hover, &:focus {
    text-decoration: none;
    color: lighten(#000000, 45%);
  }
}